<%- include('partials/header') %>
<main class="container mt-5">
    <h1 class="mb-4"><%= title %></h1>
    <p class="lead" style="white-space: pre-wrap;"><%= missionText %></p>
</main>
<%- include('partials/footer') %>
