<%- include('partials/header') %>
<main class="container mt-5">
    <h1 class="mb-4">What would you like to do?</h1>
    <div class="d-flex justify-content-center">
        <a href="/adopt" class="btn btn-primary btn-lg mr-3">Adopt a Cat</a>
        <a href="/list-cat" class="btn btn-secondary btn-lg">List a Cat for Adoption</a>
    </div>
</main>
<%- include('partials/footer') %>
